<h2 class="popup-title">Add Crew</h2>
<form #crewForm="ngForm" (ngSubmit)="save(crewForm)">
  <div class="popup-content">
    <!-- First Name and Last Name -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          [(ngModel)]="newCrew.firstName"
          name="firstName"
          required
          #firstName="ngModel"
        />
        <mat-error *ngIf="firstName.invalid && firstName.touched">First Name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          [(ngModel)]="newCrew.lastName"
          name="lastName"
          required
          #lastName="ngModel"
        />
        <mat-error *ngIf="lastName.invalid && lastName.touched">Last Name is required</mat-error>
      </mat-form-field>
    </div>

    <!-- Title and Nationality -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <mat-select [(ngModel)]="newCrew.title" name="title" required #title="ngModel">
          <mat-option *ngFor="let title of titles" [value]="title">
            {{ title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="title.invalid && title.touched">Title is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nationality</mat-label>
        <mat-select [(ngModel)]="newCrew.nationality" name="nationality" required #nationality="ngModel">
          <mat-option *ngFor="let nationality of nationalities" [value]="nationality">
            {{ nationality }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="nationality.invalid && nationality.touched">Nationality is required</mat-error>
      </mat-form-field>
    </div>

    <!-- Days On Board and Daily Rate -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select [(ngModel)]="newCrew.currency" name="currency" required #currency="ngModel">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="currency.invalid && currency.touched">Currency is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Days on Board</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="newCrew.daysOnBoard"
          name="daysOnBoard"
          required
          #daysOnBoard="ngModel"
        />
        <mat-error *ngIf="daysOnBoard.invalid && daysOnBoard.touched">Days on Board is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Daily Rate</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="newCrew.dailyRate"
          name="dailyRate"
          required
          #dailyRate="ngModel"
        />
        <mat-error *ngIf="dailyRate.invalid && dailyRate.touched">Daily Rate is required</mat-error>
      </mat-form-field>
    </div>

    <!-- Certificates -->
    <h3>Certificates</h3>
    <div *ngFor="let cert of newCrew.certificates; let i = index" class="form-row">
      <!-- Certificate Type -->
      <mat-form-field appearance="outline">
        <mat-label>Certificate Type</mat-label>
        <mat-select [(ngModel)]="cert.type" name="certType{{i}}">
          <mat-option *ngFor="let type of certificateTypes" [value]="type.name">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <!-- Issue Date -->
      <mat-form-field appearance="outline">
        <mat-label>Issue Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="cert.issueDate" name="issueDate{{i}}" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
      <!-- Expiry Date -->
      <mat-form-field appearance="outline">
        <mat-label>Expiry Date</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="cert.expiryDate" name="expiryDate{{i}}" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    
      <!-- Delete Button -->
      <button mat-icon-button color="warn" (click)="removeCertificate(i)">Delete</button>
    </div>

    <button
  mat-fab
  color="primary"
  class="add-certificate-button"
  (click)="addCertificate()"
  type="button"
>
  <mat-icon>add</mat-icon>
</button>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!crewForm.valid" type="submit">Save</button>
  </div>
</form>
