<h2 class="popup-title">Add Crew</h2>
<form #crewForm="ngForm" (ngSubmit)="save(crewForm)">
  <div class="popup-content">

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="newCrew.firstName"
          name="firstName"
          required
          #firstName="ngModel"
        />
        <mat-error *ngIf="firstName.invalid && firstName.touched">
          {{ 'REQUIRED_ERROR' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="newCrew.lastName"
          name="lastName"
          required
          #lastName="ngModel"
        />
        <mat-error *ngIf="lastName.invalid && lastName.touched">
          {{ 'REQUIRED_ERROR' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'TITLE' | translate }}</mat-label>
        <mat-select [(ngModel)]="newCrew.title" name="title" required #title="ngModel">
          <mat-option *ngFor="let title of titles" [value]="title">
            {{ title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="title.invalid && title.touched">
          {{ 'REQUIRED_ERROR' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'NATIONALITY' | translate }}</mat-label>
        <mat-select [(ngModel)]="newCrew.nationality" name="nationality" required #nationality="ngModel">
          <mat-option *ngFor="let nationality of nationalities" [value]="nationality">
            {{ nationality }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="nationality.invalid && nationality.touched">
          {{ 'REQUIRED_ERROR' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'CURRENCY' | translate }}</mat-label>
        <mat-select [(ngModel)]="newCrew.currency" name="currency" required #currency="ngModel">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="currency.invalid && currency.touched">
          {{ 'REQUIRED_ERROR' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'DAYS_ON_BOARD' | translate }}</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="newCrew.daysOnBoard"
          name="daysOnBoard"
          required
          #daysOnBoard="ngModel"
          min="0"
        />
        <mat-error *ngIf="daysOnBoard.invalid && daysOnBoard.touched">
          {{ 'REQUIRED_ERROR' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'DAILY_RATE' | translate }}</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="newCrew.dailyRate"
          name="dailyRate"
          required
          #dailyRate="ngModel"
          min="0"
        />
        <mat-error *ngIf="dailyRate.invalid && dailyRate.touched">
        {{ 'REQUIRED_ERROR' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <h3>{{ 'CERTIFICATES' | translate }}</h3>
    <div *ngFor="let cert of newCrew.certificates; let i = index" class="form-row">
      <!-- Certificate Type -->
      <mat-form-field appearance="outline">
        <mat-label>{{ 'CERTIFICATE_TYPE' | translate }}</mat-label>
        <mat-select [(ngModel)]="cert.type" name="certType{{i}}">
          <mat-option *ngFor="let type of certificateTypes" [value]="type.name">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'ISSUE_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="issuePicker" [(ngModel)]="cert.issueDate" name="issueDate{{i}}" required
        [min]="minDate"
        [max]="maxDate" placeholder="MM/DD/YYYY" #issueDate="ngModel"/>
        <mat-datepicker-toggle matSuffix [for]="issuePicker"></mat-datepicker-toggle>
        <mat-datepicker #issuePicker></mat-datepicker>
        <mat-error *ngIf="issueDate.invalid && issueDate.touched">
          Please enter a valid issue date between {{ minDate | date }} and {{ maxDate | date }}.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>{{ 'EXPIRY_DATE' | translate }}</mat-label>
        <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="expiryPicker" [(ngModel)]="cert.expiryDate" [min]="cert.issueDate || minDate" required name="expiryDate{{i}}" #expiryDate="ngModel"/>
        <mat-datepicker-toggle matSuffix [for]="expiryPicker"></mat-datepicker-toggle>
        <mat-datepicker #expiryPicker></mat-datepicker>
        <mat-error *ngIf="expiryDate.invalid && expiryDate.touched">
          Expiry date must be after the issue date.
        </mat-error>
      </mat-form-field>

      <button
  mat-icon-button
  class="delete-button"
  (click)="removeCertificate(i)"
>
  <mat-icon>delete</mat-icon>
  {{ 'DELETE_CERTIFICATE' | translate }}
</button>
    </div>

    <button
    mat-raised-button
    color="primary"
    class="add-certificate-button"
    (click)="addCertificate()"
    type="button"
  >
    <mat-icon>add_circle</mat-icon>
    {{ 'ADD_CERTIFICATE' | translate }}
  </button>
  </div>

  <div mat-dialog-actions class="action-buttons">
    <button mat-stroked-button color="warn" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary" [disabled]="!crewForm.valid" type="submit">
      <mat-icon>save</mat-icon>
      {{ 'SAVE' | translate }}
    </button>
  </div>
</form>
