<router-outlet></router-outlet>
<app-navbar></app-navbar>

<div *ngIf="isHomeRoute" >

 <!-- <div style="display: flex; justify-content: flex-end; align-items: center; gap: 20px; margin: 10px;">
    <label>{{ 'LANGUAGE' | translate }}</label>
    <select id="language" (change)="debugEvent($event)">
      <option value="en">English</option>
      <option value="fr">Français</option>
      <option value="pt">Português</option>
    </select>
    <mat-slide-toggle (change)="toggleTheme($event.checked)">
      {{ 'DARK MODE' | translate }}
    </mat-slide-toggle>
  </div>-->

  <div class="action-buttons">
    <button class="add-crew-button" mat-raised-button (click)="openAddCrewDialog()">
      <mat-icon class="add-button-icon">group_add</mat-icon>
      {{ 'ADD CREW' | translate }}
    </button>
  
    <button class="add-certificate-button" mat-raised-button [routerLink]="'/add-certificate-type'">
      <mat-icon class="add-button-icon">add_circle</mat-icon>
      {{ 'ADD CERTIFICATE TYPE' | translate }}
    </button>
  </div>
  
  <form [formGroup]="filterForm" class="filter-form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'SEARCH' | translate }}</mat-label>
      <input matInput placeholder="{{ 'SEARCH BY NAME' | translate }}" formControlName="search" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'FILTER BY TITLE' | translate }}</mat-label>
      <mat-select formControlName="title">
        <mat-option value="">{{ 'ALL' | translate }}</mat-option>
        <mat-option *ngFor="let title of titles" [value]="title">{{ title }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'FILTER BY NATIONALITY' | translate }}</mat-label>
      <mat-select formControlName="nationality">
        <mat-option value="">{{ 'ALL' | translate }}</mat-option>
        <mat-option *ngFor="let nationality of nationalities" [value]="nationality">{{ nationality }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button class="reset-filters-button" (click)="resetFilters()">
      {{ 'RESET FILTERS' | translate }}
    </button>
  </form>


  <div class="grid-container">

    <table mat-table [dataSource]="filteredCrewList" class="mat-elevation-z8">
      <!-- First Name -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> {{ 'FIRST_NAME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.firstName }} </td>
      </ng-container>

      <!-- Last Name -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> {{ 'LAST_NAME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.lastName }} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> {{ 'TITLE' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.title }} </td>
      </ng-container>

      <!-- Nationality -->
      <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef> {{ 'NATIONALITY' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.nationality }} </td>
      </ng-container>

      <!-- Days On Board -->
      <ng-container matColumnDef="daysOnBoard">
        <th mat-header-cell *matHeaderCellDef> {{ 'DAYS_ON_BOARD' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </td>
      </ng-container>

      <!-- Daily Rate -->
      <ng-container matColumnDef="dailyRate">
        <th mat-header-cell *matHeaderCellDef> {{ 'DAILY_RATE' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.dailyRate | currency: crew.currency }} </td>
      </ng-container>

      <!-- Currency -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> {{ 'CURRENCY' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.currency }} </td>
      </ng-container>

      <!-- Discount -->
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> {{ 'DISCOUNT' | translate }} </th>
        <td mat-cell *matCellDef="let crew">
          <input
             matInput
             type="number"
             [(ngModel)]="crew.discount"
             (input)="applyDiscount(crew)"
             placeholder="{{ 'ENTER_DISCOUNT' | translate }}"
          />
        </td>
      </ng-container>

      <!-- Total Income -->
      <ng-container matColumnDef="totalIncome">
        <th mat-header-cell *matHeaderCellDef> {{ 'TOTAL_INCOME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.totalIncome | currency: crew.currency }} </td>
      </ng-container>

      <!-- Certificates -->
      <ng-container matColumnDef="certificates">
        <th mat-header-cell *matHeaderCellDef> {{ 'CERTIFICATES' | translate }} </th>
        <td mat-cell *matCellDef="let crew">
          <button
          mat-button
         
          class="view-certificates-button"
          [routerLink]="['/crew-card', crew.id]"
          [queryParams]="{ tab: 'certificates' }">
          {{ 'VIEW_CERTIFICATES' | translate }}
        </button>
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </th>
        <td mat-cell *matCellDef="let crew">
          <!-- Card Page Link -->
          <button mat-icon-button color="primary" [routerLink]="['/crew-card', crew.id]">
            <mat-icon>open_in_new</mat-icon>
          </button>

          <!-- Edit Crew -->
          <button mat-icon-button color="accent" (click)="openEditDialog(crew)">
            <mat-icon>edit</mat-icon>
          </button>

          <!-- Delete Crew -->
          <button mat-icon-button color="warn" (click)="deleteCrew(crew.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header ve Satır Tanımları -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <div class="total-income-summary-container">
    <h3>{{ 'TOTAL INCOME SUMMARY' | translate }}</h3>
    <ul>
      <li *ngFor="let currency of objectKeys(totalIncomeSummary)">
        {{ currency }}: {{ totalIncomeSummary[currency] | currency: currency }}
      </li>
    </ul>
  </div>

</div>




