<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }
  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }
  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }
  .grid-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #f9f9f9;
  }
  
  table {
    width: 80%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .total-income-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Dikey ortalama */
  align-items: center; /* Yatay ortalama */
  text-align: center; /* Metinlerin ortalanması */
  margin: 20px 0; /* Üst ve alt boşluk */
}

.total-income-summary-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.total-income-summary-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.total-income-summary-container li {
  font-size: 1.2rem;
  margin: 5px 0;
}

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>



<router-outlet></router-outlet>


<div *ngIf="isHomeRoute">
  <div style="text-align: right; margin: 10px;">
    <label>{{ 'LANGUAGE' | translate }}</label>
    <select id="language" (change)="debugEvent($event)">
      <option value="en">English</option>
      <option value="fr">Français</option>
      <option value="pt">Português</option>
    </select>
  
  
  </div>
  <button mat-raised-button color="primary" (click)="openAddCrewDialog()">
    {{ 'ADD CREW' | translate }}
  </button>
  <button mat-raised-button color="primary" [routerLink]="'/add-certificate-type'">
    {{ 'ADD CERTIFICATE TYPE' | translate }}
  </button>
  <div class="grid-container">
   
    <table mat-table [dataSource]="crewList" class="mat-elevation-z8">
      <!-- First Name -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> {{ 'FIRST_NAME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.firstName }} </td>
      </ng-container>
    
      <!-- Last Name -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> {{ 'LAST_NAME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.lastName }} </td>
      </ng-container>
    
      <!-- Nationality -->
      <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef> {{ 'NATIONALITY' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.nationality }} </td>
      </ng-container>
    
      <!-- Days On Board -->
      <ng-container matColumnDef="daysOnBoard">
        <th mat-header-cell *matHeaderCellDef> {{ 'DAYS_ON_BOARD' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </td>
      </ng-container>
    
      <!-- Daily Rate -->
      <ng-container matColumnDef="dailyRate">
        <th mat-header-cell *matHeaderCellDef> {{ 'DAILY_RATE' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.dailyRate | currency: crew.currency }} </td>
      </ng-container>
    
      <!-- Currency -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> {{ 'CURRENCY' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.currency }} </td>
      </ng-container>
    
      <!-- Discount -->
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> {{ 'DISCOUNT' | translate }} </th>
        <td mat-cell *matCellDef="let crew">
          <input
             matInput
             type="number"
             [(ngModel)]="crew.discount"
             (input)="applyDiscount(crew)"
             placeholder="Enter Discount"
          />
        </td>
      </ng-container>
      
      <!-- Total Income -->
      <ng-container matColumnDef="totalIncome">
        <th mat-header-cell *matHeaderCellDef> {{ 'TOTAL_INCOME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.totalIncome | currency: crew.currency }} </td>
      </ng-container>
    
      <!-- Certificates -->
      <ng-container matColumnDef="certificates">
        <th mat-header-cell *matHeaderCellDef> {{ 'CERTIFICATES' | translate }} </th>
        <td mat-cell *matCellDef="let crew">
          <button 
          mat-button 
          color="accent" 
          [routerLink]="['/crew-card', crew.id]" 
          [queryParams]="{ tab: 'certificates' }">
          {{ 'VIEW_CERTIFICATES' | translate }}
        </button>
        </td>
      </ng-container>
    
      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </th>
        <td mat-cell *matCellDef="let crew">
          <!-- Card Page Link -->
          <button mat-icon-button color="primary" [routerLink]="['/crew-card', crew.id]">
            <mat-icon>open_in_new</mat-icon>
          </button>
    
          <!-- Edit Crew (Popup Açılır) -->
          <button mat-icon-button color="accent" (click)="openEditDialog(crew)">
            <mat-icon>edit</mat-icon>
          </button>
    
          <!-- Delete Crew -->
          <button mat-icon-button color="warn" (click)="deleteCrew(crew.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <!-- Header ve Satır Tanımları -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
   
  </div>
  
  <div class="total-income-summary-container">
    <h3>{{ 'TOTAL INCOME SUMMARY' | translate }}</h3>
    <ul>
      <li *ngFor="let currency of objectKeys(totalIncomeSummary)">
        {{ currency }}: {{ totalIncomeSummary[currency] | currency: currency }}
      </li>
    </ul>
  </div>

</div>




