<div class="about-container">
  <mat-card class="about-card">
    <mat-card-title class="about-title">
      🚢 {{ 'CREW_MANAGEMENT_APP' | translate }}
    </mat-card-title>
    <mat-card-content>
      <p class="project-description">
        {{ 'PROJECT_DESCRIPTION' | translate }}
      </p>

      <h2 class="section-title">✨ {{ 'FEATURES' | translate }}</h2>

      <div class="feature">
        <h3>🌍 {{ 'MULTILINGUAL_SUPPORT' | translate }}</h3>
        <p>{{ 'A_LANGUAGE_SELECTOR' | translate }}</p>
        <p>{{ 'SUPPORTED_LANGUAGES' | translate }}</p>
        <p>{{ 'DYNAMIC_LABELS' | translate }}</p>
      </div>

      <div class="feature">
        <h3>📋 {{ 'CREW_LIST' | translate }}</h3>
        <p>{{ 'CREW_LIST_DETAILS' | translate }}</p>
        <p>{{ 'CREW_DETAILS_FIELDS' | translate }}</p>
      </div>

      <div class="feature">
        <h3>🔗 {{ 'FUNCTIONALITIES' | translate }}</h3>
        <ul>
          <li>{{ 'ACTION_MENU' | translate }}</li>
          <li>{{ 'CARD_PAGE_LINK' | translate }}</li>
          <li>{{ 'EDIT_POPUP' | translate }}</li>
          <li>{{ 'DELETE_CREW' | translate }}</li>
        </ul>
      </div>

      <div class="feature">
        <h3>📝 {{ 'SUMMARY_SECTION' | translate }}</h3>
        <p>{{ 'TOTAL_INCOME_DISPLAY' | translate }}</p>
      </div>

      <div class="feature">
        <h3>🛠 {{ 'CREW_CARD_PAGE' | translate }}</h3>
        <p>{{ 'CREW_CARD_DETAILS' | translate }}</p>
        <ul>
          <li>{{ 'CARD_TAB_DETAILS' | translate }}</li>
          <li>{{ 'CERTIFICATES_TAB_DETAILS' | translate }}</li>
        </ul>
      </div>

      <div class="feature">
        <h3>➕ {{ 'ADD_NEW_CREW' | translate }}</h3>
        <p>{{ 'ADD_CREW_POPUP' | translate }}</p>
      </div>

      <div class="feature">
        <h3>📑 {{ 'CERTIFICATE_TYPE_CREATE_PAGE' | translate }}</h3>
        <p>{{ 'CERTIFICATE_TYPE_DESCRIPTION' | translate }}</p>
      </div>

      <div class="feature">
        <h3>⚡ {{ 'OPTIONAL_FEATURE' | translate }}</h3>
        <p>{{ 'DISCOUNT_COLUMN_FEATURE' | translate }}</p>
        <p>{{ 'DARK_MODE_LIGHT_MODE' | translate }}</p>
        <p>{{ 'FILTER_DESCRIPTION' | translate }}</p>
        <p>{{ 'EXPORT_DESCRIPTION' | translate }}</p>
      </div>

    </mat-card-content>
  </mat-card>
</div>
