<h2 mat-dialog-title  class="popup-title">{{ 'EDIT CREW' | translate }}</h2>
<div mat-dialog-content class="popup-content">
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
      <input matInput [(ngModel)]="data.firstName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
      <input matInput [(ngModel)]="data.lastName" />
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'TITLE' | translate }}</mat-label>
      <mat-select [(value)]="data.title">
        <mat-option *ngFor="let title of titles" [value]="title">
          {{ title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>{{ 'NATIONALITY' | translate }}</mat-label>
      <mat-select [(value)]="data.nationality">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  

  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'CURRENCY' | translate }}</mat-label>
      <mat-select [(value)]="data.currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>{{ 'DAYS_ON_BOARD' | translate }}</mat-label>
      <input matInput [(ngModel)]="data.daysOnBoard" type="number" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>{{ 'DAILY_RATE' | translate }}</mat-label>
      <input matInput [(ngModel)]="data.dailyRate" type="number" />
    </mat-form-field>
  </div>
  

</div>
<div mat-dialog-actions class="action-buttons">
  <button mat-stroked-button color="warn" (click)="cancel()">
    <mat-icon>cancel</mat-icon>
    {{ 'CANCEL' | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>
    {{ 'SAVE' | translate }}
  </button>
</div>
